html, body
{
  width: 100%;
  height: 100%;
}
#pp
{
  width: 150px;
  border-radius: 50%;
  border-style: solid;
  border-color: #3C3C3B;
}

body
{
  background-color: pink;
  background-image: url("../img/bgpick.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid
{
  background-color: #FAF9F9;
  height: 100%;
  width: auto;
}

body .container-fluid
{
  margin: 20px;
}
